/*
mainsail
https://github.com/function3d/mainsail
https://docs.mainsail.xyz/about/development/environment  (VUE_APP_HOSTNAME=IP PRINTER)
*/

.v-btn{
  min-width: 32px !important;
  margin-right:0 !important;
}
